<% include layout %>
<link rel="stylesheet" href="/stylesheets/category.css">
<body>

<div class="wx_wrap">

    <div id="yScroll1" style="overflow: hidden; position: fixed;left: 0px; width: 65px; background-color: rgb(243, 243, 243);">
        <ul class="category1" id="allcontent" style="border-bottom-style: none; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 1200ms; transform: translate(0px, 0px) translateZ(0px);">
            <% roots.forEach(function(item){ %>
            <li class="" catname="<%=item.cat_name%>">
                <%=item.cat_name%>
            </li>
            <% }) %>

        </ul>
    </div>
    <div id="yScroll2" style="overflow: hidden; position: absolute; left: 65px;width: 80%">
        <div style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
            <dl class="category2" id="category2">
                <% children.forEach(function(second){ %>
                    <dt><a href="javascript:;"><%=second.cat_name%></a></dt>
                    <dd>
                        <% second.child_cat.forEach(function(third){ %>
                        <a href="/list/<%=third.cat_name%>">
                            <img src="<%=third.cat_img%>" alt="">
                            <span class="tit"><%=third.cat_name%></span>
                        </a>
                        <% }) %>
                    </dd>
                <% })%>
            </dl>
        </div>
    </div>
</div>

<script>
    var rootcat = $('#allcontent li');
    rootcat.first().addClass('cur');
    rootcat.each(function(){
        $(this).click(function(){
            $(this).addClass('cur');
            $(this).siblings().removeClass('cur')
            var catname = $(this).attr('catname');

            $.ajax({
                type: "POST",
                url: "/category?cat="+catname,
                dataType: "json",
                success:function(data){
                    console.log(data);
                    var content = '';
                    for(var i=0;i<data.length;i++){
                        content += '<dt><a href="javascript:;">'+data[i].cat_name+'</a></dt><dd>';
                        for(var j=0;j<data[i].child_cat.length;j++){
                            content += '<a href="/list/'+data[i].child_cat[j].cat_name+'"><img src="'+data[i].child_cat[j].cat_img+'" alt="">';
                            content += '<span class="tit">'+data[i].child_cat[j].cat_name+'</span></a>';
                        }
                        content += '</dd>'
                    }
                    $('#category2').html(content);
                }
            });
        });
    });


</script>
</body>