<% include layout %>
<link rel="stylesheet" href="/stylesheets/tishi.css">
<body>
<div id="part_main">
    <div class="mod_slider mod_slider_s1" id="loopImgDiv">
        <!-- 商品图片-->
        <div class="inner">
            <ul class="pic_list" id="loopImgUl">
                <li><img src="<%=goods.goods_img%>"></li>
            </ul>
        </div>

    </div>
    <!-- 商品信息-->
    <div class="buy_area">
        <div class="fn_wrap">
            <h1 class="fn" id="itemName"><%=goods.goods_name%></h1>
            <div class="desc" id="itemDesc"><%=goods.goods_brief%></div>
        </div>

        <div class="price_wrap" id="priceBlock">
            <span class="tit" id="priceTitle">售价：</span>
            <span class="price" id="priceSale">￥<%=goods.shop_price%></span>
            <span class="group" id="priceGroupStyle" style="display: none"></span>
            <span class="tip_red" id="priceDis"><%=goods.discount%>折</span>
            <span class="price_old" id="priceMarket"><%=goods.market_price%></span>
            <span class="col_right" id="headEval">
                <span class="sale_num">已售：<b id="evalNo1"><%=goods.sale_number%></b>件</span>
            </span>
        </div>

        <div class="de_pm">
            <div class="sku_container sku_container_on" id="skuCont">
                <div class="sku_wrap">
                    <div id="propertyDiv">
                        <!--<c:set var="attr_name" scope="session" value="" />
                        <c:forEach items="${goods.goodsAttrs}" var="attrs">
                            <c:if test="${attrs.attribute.attr_type == 1}">
                                <c:if test="${attrs.attribute.attr_name == attr_name}">

                                    <span class="option" attrid="${attrs.goods_attr_id}">${attrs.attr_value }</span>
                                </c:if>
                                <c:if test="${attrs.attribute.attr_name != attr_name}">
                                    <c:if test="${attr_name != ''}">
                    </div>
                </div>
                </c:if>
                <div class="sku">
                    <h3>${attrs.attribute.attr_name}：</h3>
                    <div class="sku_list">
							<span class="option option_selected"
                                  attrid="${attrs.goods_attr_id}">${attrs.attr_value }</span>


                        <c:set var="attr_name" scope="session"
                               value="${attrs.attribute.attr_name}" />
                        </c:if>
                        </c:if>

                        </c:forEach>
                        <c:if test="${attr_name != ''}">
                    </div>
                </div>
            </div>
            </c:if>-->
                    <div class="sku sku_num" id="skuNum">
                        <h3>数量：</h3>
                        <div class="num_wrap">
                            <span class="minus minus_disabled" id="minus"></span> <input class="num" id="buyNum" type="tel" value="1" disabled> <span class="plus" id="plus"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail_gap" id="dingwei"></div>

            <div class="detail_shop_box" id="shopInfoP">
                 <div class="detail_shop_info">
                    <div class="cover"><img id="shopLogo" src="http://img.taimo.cn/brand/1.gif"></div>
                    <div class="info" id="shopInfo">
                        <div class="name"><span><%=goods.goods_brand%></span></div>
                    </div>
                </div>
            </div>

            <div class="detail_row detail_service" id="serviveArea">
                <div class="de_row">
                    <div class="tit">运费：</div>
                    <div class="de_span">
                        <div class="de_ser_list" id="serviceInfo">
                            <div class="item">
                                <div class="label">
                                    <i class="icon_service pop_PaymentCod"></i>
                                    <div class="txt">顺丰快递 | 经济快递</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail_row detail_service detail_service_tip" id="outService">
                <div class="de_row">
                    <div class="tit">付款：</div>
                    <div class="de_span">
                        <div class="de_ser_list" id="outServiceNote">
                            <div class="item">
                                <div class="label">
                                    <i class="icon_service jingdou_xiankuan"></i>
                                    <div class="txt">支付宝</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mod_tab_gap"></div>

        <div class="detail_extra">
            <div class="detail_row" id="itemDetEnter">
                <a href="#detailAttr" target="_top"><h3 class="tit">图文详情</h3></a> <i
                        class="icon_promote"></i>
            </div>
        </div>

        <div id="detailBaseLine" class="mod_tab_gap"></div>

        <div class="mod_fix_wrap" id="detailAttr">
            <div class="mod_fix">
                <div class="mod_tab" id="detailTab">
                    <span class="cur" no="0">商品介绍</span> <span no="1" class="">规格参数</span>
                </div>
            </div>
        </div>

        <div class="detail_info_wrap" id="detail">
            <div class="detail_list" id="detailCont" style="transform: translate(0px, 0px); transition: all 0.3s ease;">
                <div class="detail_item p_desc" id="detail0" style="position: relative;">
                    <div id="commDesc" class="detail_pc"><%-goods.goods_desc%></div>

                </div>
                <div class="detail_item p_prop" id="detail1">
                    <div>
                        <div class="mod_tit_line">
                            <h3>商品参数</h3>
                        </div>

                        <div id="detParam">
                            <table class="param_table">
                                <% goods.goods_para.forEach(function(item){ %>
                                <tr>
                                    <td><%=item.para_name%></td>
                                    <td><%=item.para_value%></td>
                                </tr>
                                <% }) %>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="btn_wrap btn_wrap_fixed" add="btn_wrap_nocart" id="btnTools" style="">
            <div class="notice_tip" id="statusNotice" style="display: none;">
                <span id="statusNote"></span>
            </div>
            <a class="btn_fav ui-link <%if(result){%>btn_fav_checked<%}%>" href="javascript:;" id="fav" target="_top" goodsid="<%=goods._id%>"><i>收藏</i></a>
            <div class="btn_col">
                    <% if(goods.goods_number>0){ %>
                    <a class="btn btn_cart" href="javascript:;" id="addCart" goodsid="<%=goods._id%>">加入购物车</a>
                    <a class="btn btn_buy" href="javascript:;" id="buyBtn" goodsid="<%=goods._id%>">立即购买</a>
                    <% }else{ %>
                    <a class="btn btn_other btn_buy_disabled " href="javascript:;" id="g_nocart">售罄</a>
                    <% } %>
            </div>

            <a class="cart_wrap" onclick="location='/shopcart'">
                <% if(count){ %>
                <i class="i_cart" id="cartNum" num="<%=count%>"></i>
                <% }else{ %>
                <i class="i_cart" id="cartNum" num="0"></i>
                <% } %>
                <span class="cart"></span>
                <span class="add_num" id="popone">+1</span>
            </a>
        </div>
    </div>
</div>

<script src="/javascripts/quickMenu.js"></script>
<script>
    var buyNum = $('#buyNum').attr('value');
    $('#plus').on('click',function(){
        buyNum++;
        $('#buyNum').attr('value',buyNum);
        $('#minus').removeClass('minus_disabled');

    });
    $('#minus').on('click',function(){
        if(buyNum<1){
            return false;
        }else if(buyNum==1){
            $('#minus').addClass('minus_disabled');
        }else if(buyNum>1){
            buyNum--;
            $('#buyNum').attr('value',buyNum);
        }
    });

    var width = $(window).width();
    $('#detailTab span').each(function(){
        $(this).click(function(){
            var no = $(this).attr('no');
            var height = $('#detail'+no+'').height();
            $(this).addClass('cur');
            $(this).siblings().removeClass('cur');
            $('#detailCont').css({'transform':'translate('+(-(width*no))+'px,0px)','height':height});
        });
    });

    $("#fav").on('click',function(){
        var goods_id = $(this).attr('goodsid');
        if(!$(this).hasClass("btn_fav_checked")){
            $.ajax({
                url:'/fav/addToFav',
                data:{goods_ids:goods_id},
                type:'post',
                dataType:'json',
                success:function(d){
                    $('#fav').addClass("btn_fav_checked");
                    alert_Display("收藏成功");
                }
            });
        }else{
            $.ajax({
                url:'/fav/delFromFav',
                data:{goods_ids:goods_id},
                type:'post',
                dataType:'json',
                success:function(d){
                    $('#fav').removeClass("btn_fav_checked");
                    alert_Display("取消成功");
                }
            });
        }
    });

    $("#addCart").click(function(){
        var goods_id = $(this).attr('goodsid');
        $.ajax({
            url:'/cart/addToCart',
            data:{goods_id:goods_id},
            type:'post',
            dataType:'json',
            success:function(d){
                console.log(d);
                if(d.ret==-1){
                    alert_Display("已存在于购物车");
                }else{
                    $("#cartNum").attr("num",parseInt($("#cartNum").attr("num"))+1);
                    $("#popone").addClass("show");
                    setTimeout(function(){$("#popone").removeClass("show");},1500);
                    alert_Display("加入成功");
                }
            }
        });
    });
    /*function getSuccess(data){
        if(data.ret == -1){
            alert_Display(data.data);
            return false;
        }

    }
    if(user_id==""){
        var num=0;
        for(var i=0;i<cart.length;i++){
            num+=cart[i].goods_num;
        }
        if(num==0){
            $("#cartNum").attr("num",0);
        }else{
            $("#cartNum").attr("num",num);
        }
    }else{
        postapi("/shop/cart/getGoodsNum.do",{'goods':JSON.stringify(goods)},getNumSuccess, {'user_id':user_id});
    }

    function getNumSuccess(data){
        var num=data.data;
        if(num==0){
            $("#cartNum").attr("num",0);
        }else{
            $("#cartNum").attr("num",num);
        }
    }*/

</script>
</body>